main {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: #333;
    line-height: 1.5;
}

h2 {
    color:var(--second-color); 
    font-size: 2rem; 
    margin-bottom: 10px; 
    text-align: right; 
}

p {
    font-size: 1.2rem; 
    margin-bottom: 20px; 
    text-align: right; 
}

section {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.field-images {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; /* מאפשר לשבור שורה אם אין מקום */
    gap: 15px; /* ריווח אחיד בין התמונות */
    margin-top: 20px;
}

.field-images img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; /* מעגל את הפינות */
    background-color: transparent; /* רקע שקוף */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* הצללה */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* אפקט ריחוף */
}

.field-images img:hover {
    transform: scale(1.1); /* הגדלה בעת ריחוף */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.history-images {
    display: flex; 
    justify-content: center; /* מרכז את התמונות */
    flex-wrap: wrap; /* מאפשר לשבור שורה אם אין מקום */
    gap: 15px; 
    margin-top: 20px;
}

.history-images img {
    width: 300px; 
    height: 200px; 
    object-fit: contain; 
    border-radius: 10px; /* מעגל את הפינות */
    background-color: transparent; /* רקע שקוף */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* הצללה */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* אפקט ריחוף */
}

.history-images img:hover {
    transform: scale(1.1); /* הגדלה בעת ריחוף */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.additional-images {
    display: flex; 
    justify-content: space-between; /* מסדר את התמונות בשורה */
    flex-wrap: wrap; /* מאפשר לשבור שורה אם אין מקום */
    gap: 15px; 
    margin-top: 20px;
}

.additional-images img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* הצללה */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* אפקט ריחוף */
}

.additional-images img:hover {
    transform: scale(1.1); /* הגדלה בעת ריחוף */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}



#before-after {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#before-after h2 {
    color: #e64a19;
    margin-bottom: 20px;
}

/* עיצוב מיכל התמונות */
.comparison-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.comparison {
    flex: 1;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.comparison h3 {
    color: #333;
    margin-bottom: 10px;
}

.comparison img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* עיצוב מיכל הווידאו */
.war-media{
    text-align: center;
    margin: 20px auto; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* הצללה */
    max-width: 80vw; 
    width: 90%; /* מתאים את הרוחב למסכים קטנים */
}


.war-video {
    width: 80%; /* הווידאו יתפוס 80% מרוחב המיכל */
    max-width: 600px; 
    height: auto; /* שמירה על הפרופורציות */
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* הצללה */
    margin: 0 auto; 
}

.war-video:hover {
    transform: scale(1.02); /* אפקט הגדלה*/
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* הצללה מוגברת */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.war-video video{
    max-width: 100%;
    max-height: 70%;
}

footer {
    background-color: var(--second-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}


/* התאמות רספונסיביות */
@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .field-images img {
        width: 200px; 
        height: 150px;
    }

    .history-images img {
        width: 200px; 
        height: 150px;
    }

    .additional-images img {
        width: 200px; 
        height: 150px;
    }
}



@media (max-width: 480px) {
    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav a {
        margin: 5px;
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.2rem; 
    }

    p {
        font-size: 0.9rem; 
    }

    .field-images img {
        width: 150px; 
        height: 100px;
    }

    .history-images img {
        width: 150px; 
        height: 100px;
    }

    .additional-images img {
        width: 150px; 
        height: 100px;
    }
}
