
section {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: right;
    font-family: "M PLUS Rounded 1c", sans-serif; 

}

.title {
    align-items: center;
    display:flex ;
    gap: 5vw;
}

.title h1{
    margin-right: 45%;

}

.title p{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 40px;
    font-family: "M PLUS Rounded 1c", sans-serif;  
    font-size: clamp(2rem,2.5vw,3rem);

}
main {
    padding: 10px;
}


ul.job-list {
    list-style-type: none;
    padding: 0;
}

ul.job-list li {
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul.job-list li h3 {
    margin: 0 0 10px;
    color: var(--second-color);
}

ul.job-list li p {
    margin: 5px 0;
}

footer {
    text-align: center;
    background-color: var(--second-color)66;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 100% 100% 0 0;
}
footer p a{
    color: var(--primary-color);
    font-size:1.5em;
    font-family: "M PLUS Rounded 1c", sans-serif; 
    text-decoration: none;
    font-weight: bolder;
}

